body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.header-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/component.png");
}

.header-logo {
  width: 300px;
  padding-bottom: 20px;
}
.main-title {
  width: 60%;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  color: white;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding-top: 40px;
}

.navbar img {
  padding-left: 120px;
}

#hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.mobile-nav-links {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

.mobile-nav-links a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.nav-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  opacity: 0.69;
}

.main-header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.try-trial {
  color: #000;
  padding: 15px;
  padding-bottom: 10px;
}
.try-trial-div {
  top: 147px;
  left: 892px;
  width: 100%;
  height: 57px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.your-details {
  padding: 15px;
}
.free {
  color: red;
}

.intro-text h1,
.intro-text p {
  color: white;
}

.intro-text {
  max-width: 40%;
  padding-left: 100px;
}
.header-description {
  text-align: left;
  font: normal normal 600 16px/23px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
  padding-bottom: 50px;
}

.download-btn {
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  opacity: 1;
  width: 300px;
}

.trial-form {
  background: white;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 100px;
}

.trial-form form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.trial-form input[type="text"],
.trial-form input[type="tel"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 4px;
  text-align: left;
  padding: 20px 0px 10px 0px;
  margin: 0px 20px 0px 20px;
  letter-spacing: 0px;
  color: #e7e7e7;
  opacity: 1;
}

label {
  padding-left: 10px;
}

.subscription-options {
  margin-bottom: 1rem;
}

.subscription-options label {
  margin-right: 1rem;
}
.trial-form button[type="submit"] {
  top: 515px;
  left: 892px;
  width: 360px;
  height: 57px;
  background: #41d395 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.social-icons {
  display: flex;
  gap: 10px;
  padding-top: 38px;
  padding-bottom: 38px;
  justify-content: space-around;
}
.social-text {
  padding-left: 100px;
}

.social-logos img {
  padding-left: 80px;
}
.social-logos {
  padding-right: 148px;
}

.tab-left {
  display: flex;
}

.tabs-section {
  display: flex;
  align-items: center;

  padding: 50px;
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url("assets/christoffer-engstrom-503481-unsplash@2x.png");
  background-blend-mode: normal;
  color: #ffffff;
  background-position: 25% 50%;
  height: 500px;
  justify-content: space-evenly;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.tab {
  background-image: url("assets/tab_3_button_u87_mouseover.svg");
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab p {
  transform: rotate(-45deg);
  font: normal normal 600 14px/20px Montserrat;
}
.tab.active {
  background-image: url("assets/tab_1_button_u83_selected.svg");
}

.tab:hover {
  background-image: url("assets/tab_1_button_u83_selected.svg");
}
.highlighted-content {
  width: 650px;
  padding: 0px 20px 0px 20px;
}
.highlighted-content h2 {
  margin-bottom: 20px;
  font: normal normal 600 36px/40px Montserrat;
}

.highlighted-content p {
  margin-bottom: 40px;
  font: normal normal 14px/20px Montserrat;
}
.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}
.smaller-cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bigger-card {
  width: 100%;
  height: 200px;
}

.image1 {
  background: url("assets/photo-1493409137604-0901c55e4456@2x.png") no-repeat;

  background-size: 100%;
  height: 200px;
  width: 200px;
  display: block;
  display: flex;
  margin: 0;
  padding: 0;
}

.image1 a {
  display: none;
  color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.image1:hover a {
  display: block;
}

.image1:hover {
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url("assets/photo-1493409137604-0901c55e4456@2x.png");
  background-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image2 {
  background: url("assets/photo-1543364195-bfe6e4932397.png") no-repeat;

  background-size: 100%;
  height: 200px;
  width: 200px;
  display: block;
  display: flex;
  margin: 0;
  padding: 0;
}
.image2 a {
  display: none;
  color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.image2:hover a {
  display: block;
}

.image2:hover {
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url("assets/photo-1543364195-bfe6e4932397.png");
  background-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image3 {
  background: url("assets/photo-1448387473223-5c37445527e7.png") no-repeat;

  background-size: 100%;
  width: 100%;
  height: 200px;
  display: block;
  display: flex;
  margin: 0;
  padding: 0;
}
.image3 a {
  display: none;
  color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.image3:hover a {
  display: block;
}

.image3:hover {
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42) 0%,
      rgba(226, 120, 102, 0.42) 100%
    ),
    url("assets/photo-1448387473223-5c37445527e7.png");
  background-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.filler-section {
  display: flex;
  background-color: #000000;
  color: white;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
}

.filler-brand {
  margin-right: 50px;
}

.filler-logo {
  width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.filler-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.filler-content {
  max-width: 600px;
}

.filler-heading {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
  font: normal normal 600 30px/43px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.filler-divider {
  width: 200px;
  padding-bottom: 20px;
}

.filler-description {
  margin-bottom: 30px;
  font: normal normal normal 14px/20px Montserrat;
}

.filler-features {
  list-style: none;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.feature-icon {
  color: #e27866;
  margin-right: 10px;
}

.feature-title {
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
  font: normal normal 600 14px/17px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.feature-description {
  font-size: 16px;
  text-align: left;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.why-us-section {
  text-align: center;
  padding: 50px 20px;
}

.why-us-header h2 {
  margin-bottom: 20px;
  font: normal normal 600 36px/43px Montserrat;
}

.why-us-header p {
  font: normal normal normal 14px/20px Montserrat;
  color: #666;
  margin-bottom: 50px;
}

.why-us-features {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 80%;
  margin: auto;
}

.feature {
  width: 20%;
  margin: 0 15px;
}

.feature h3 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.feature p {
  font-size: 16px;
  color: #666;
  text-align: center;
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0px;
  color: #86878b;
  opacity: 1;
}

.pricing-section {
  background-color: #6696e2;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.pricing-header h2 {
  font: normal normal 600 36px/43px Montserrat;
  margin-bottom: 1rem;
}

.pricing-header p {
  margin-bottom: 2rem;
  font: normal normal normal 14px/20px Montserrat;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing-card {
  background: #1c1c1c;
  padding-top: 20px;
  border-radius: 8px;
  width: 300px;
  position: relative;
}

.enterprise {
  margin-top: 30px;
}
.professional {
  margin-top: 14px;
}

.pricing-card h3 {
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  margin-bottom: 0.5rem;
}

.price {
  font: normal normal normal 94px/24px Montserrat;
  letter-spacing: 0px;
  margin: 70px 0px 70px 0px;
}

.plan-duration {
  margin-bottom: 1.5rem;
  font: normal normal normal 14px/24px Montserrat;
}

.features-list {
  list-style: none;
  text-align: left;
  padding: 0px;
  margin: 0;
  border-radius: 0px 0px 8px 8px;
  border-top: none;
  text-align: center;
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #86878b;
  background-color: whitesmoke;
  width: 100%;
}
.pricing-card img {
  width: 100%;
  top: 0;
  padding: 0;
  margin-bottom: -5px;
}
.features-list li {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font: normal normal normal 14px/24px Montserrat;
  letter-spacing: 0px;
  color: #86878b;
}

.reviews-section {
  text-align: center;
  padding: 50px;
  background-color: #f8f8f8;
}

.reviews-section h2 {
  font: normal normal 600 36px/43px Montserrat;
  color: #333;
  margin-bottom: 1rem;
}

.review-cards {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.one-reviewer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
}

.blue-bg {
  background-image: url("assets/u229.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  width: 90%;
}
.blue-bg p {
  color: white;
  padding: 20px;
  border-radius: 8px;
}
.reviewer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.reviewer-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.reviewer-info h4 {
  text-align: left;
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
.reviewer-info p {
  text-align: left;
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  color: #86878b;
}
.filler-content {
  text-align: center;
}

.filler-heading {
  text-align: center;
  margin: 20px;
}
.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  max-width: 300px;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1rem;
}

.customer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.customer-name {
  font-size: 1rem;
  color: #333;
}

.customer-title {
  font-size: 0.8rem;
  color: #666;
}
.contact-section {
  background-color: #ff6b81;
  padding: 50px;
}

.contact-section h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}

.contact-description {
  margin-bottom: 2rem;
  text-align: center;
  color: whitesmoke;
}

.contact-form {
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.contact-form input,
.contact-form .btn-send {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-send {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  width: 40%;
  height: 55px;
  align-self: center;
}

input:invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.footer-section {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="tel"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 4px;
  text-align: left;
  padding: 20px 0px 10px 0px;
  margin: 0px 20px 0px 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.footer-content {
  max-width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons img {
  padding-right: 20px;
}

.footer-section p {
  margin-top: 20px;
  text-align: left;
  font: normal normal normal 18px/14px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 480px) {
  .navbar img,
  .header-logo,
  .pricing-card img,
  .reviewer-photo img,
  .filler-logo {
    width: 100%;
    height: auto;
    max-width: 150px;
  }

  .navbar img {
    padding: 0px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    background-color: #000;
    transition: right 0.5s ease;
    padding-top: 20px;
    align-items: start;
  }

  #hamburger-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
  }

  .nav-links a {
    display: block;
    color: white;
    padding: 10px;
  }

  .intro-text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .logo {
    padding: 0px;
  }
  .header-description {
    margin: 20px;
  }
  .navbar,
  .main-header,
  .trial-form,
  .social-icons,
  .tabs-section,
  .filler-section,
  .why-us-section,
  .pricing-section,
  .reviews-section,
  .contact-section,
  .footer-section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .main-header {
    height: 800px;
  }

  .tabs-section {
    height: 1600px;
  }

  .nav-links a,
  .intro-text,
  .trial-form form,
  .social-text,
  .highlighted-content,
  .feature,
  .review-cards,
  .contact-form {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    padding: 0px;
  }

  .review-cards,
  .why-us-features {
    display: flex;
    flex-direction: column;
  }

  .tabs,
  .content-area,
  .smaller-cards,
  .pricing-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab,
  .card,
  .pricing-card,
  .one-reviewer {
    width: 100%;
    margin: 5px;
  }

  .main-title,
  .try-trial,
  .your-details,
  .filler-heading,
  .feature-title,
  .pricing-card h3,
  .price,
  .plan-duration,
  .reviewer-info h4,
  .contact-section h2 {
    font-size: 26px;
  }
  .filler-divider {
    text-align: cente;
  }
  .download-btn,
  .trial-form button[type="submit"],
  .btn-send {
    width: auto;
    padding: 10px;
  }
  .trial-form {
    margin-right: 0px;
  }
  .feature-item,
  .feature-description,
  .features-list li,
  .social-description,
  .highlighted-content p,
  .filler-description,
  .feature p {
    font-size: smaller;
  }

  .smaller-cards,
  .image1,
  .image2,
  .image3,
  .social-logos {
    padding: 0px;
  }
  .social-logos img {
    padding: 10px;
  }
  .header-logo {
    display: none;
  }
  .one-reviewer {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
  }
  .contact-form {
    margin: auto;
  }
  .footer-content {
    flex-direction: column;
  }
  .social-icons-2 {
    display: flex;
    flex-direction: row;
  }
  .social-icons-2 img {
    padding-left: 10px;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
}
